@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined);
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Space+Grotesk:wght@300..700&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

*,
:after,
:before {
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-pan-x: ;
--tw-pan-y: ;
--tw-pinch-zoom: ;
--tw-scroll-snap-strictness: proximity;
--tw-gradient-from-position: ;
--tw-gradient-via-position: ;
--tw-gradient-to-position: ;
--tw-ordinal: ;
--tw-slashed-zero: ;
--tw-numeric-figure: ;
--tw-numeric-spacing: ;
--tw-numeric-fraction: ;
--tw-ring-inset: ;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgba(59, 130, 246, 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
--tw-blur: ;
--tw-brightness: ;
--tw-contrast: ;
--tw-grayscale: ;
--tw-hue-rotate: ;
--tw-invert: ;
--tw-saturate: ;
--tw-sepia: ;
--tw-drop-shadow: ;
--tw-backdrop-blur: ;
--tw-backdrop-brightness: ;
--tw-backdrop-contrast: ;
--tw-backdrop-grayscale: ;
--tw-backdrop-hue-rotate: ;
--tw-backdrop-invert: ;
--tw-backdrop-opacity: ;
--tw-backdrop-saturate: ;
--tw-backdrop-sepia: ;
--tw-contain-size: ;
--tw-contain-layout: ;
--tw-contain-paint: ;
--tw-contain-style: ;
}
::backdrop {
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-pan-x: ;
--tw-pan-y: ;
--tw-pinch-zoom: ;
--tw-scroll-snap-strictness: proximity;
--tw-gradient-from-position: ;
--tw-gradient-via-position: ;
--tw-gradient-to-position: ;
--tw-ordinal: ;
--tw-slashed-zero: ;
--tw-numeric-figure: ;
--tw-numeric-spacing: ;
--tw-numeric-fraction: ;
--tw-ring-inset: ;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgba(59, 130, 246, 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
--tw-blur: ;
--tw-brightness: ;
--tw-contrast: ;
--tw-grayscale: ;
--tw-hue-rotate: ;
--tw-invert: ;
--tw-saturate: ;
--tw-sepia: ;
--tw-drop-shadow: ;
--tw-backdrop-blur: ;
--tw-backdrop-brightness: ;
--tw-backdrop-contrast: ;
--tw-backdrop-grayscale: ;
--tw-backdrop-hue-rotate: ;
--tw-backdrop-invert: ;
--tw-backdrop-opacity: ;
--tw-backdrop-saturate: ;
--tw-backdrop-sepia: ;
--tw-contain-size: ;
--tw-contain-layout: ;
--tw-contain-paint: ;
--tw-contain-style: ;
} /*! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com*/
*,
:after,
:before {
border: 0 solid #e5e7eb;
box-sizing: border-box;
}
:after,
:before {
--tw-content: "";
}
:host,
html {
line-height: 1.5;
-webkit-text-size-adjust: 100%;
font-family: Sansation, Open Sans, ui-sans-serif, system-ui, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
font-feature-settings: normal;
font-variation-settings: normal;
-moz-tab-size: 4;
tab-size: 4;
-webkit-tap-highlight-color: transparent;
}
body {
line-height: inherit;
margin: 0;
}
hr {
border-top-width: 1px;
color: inherit;
height: 0;
}
abbr:where([title]) {
text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-size: inherit;
font-weight: inherit;
}
a {
color: inherit;
text-decoration: inherit;
}
b,
strong {
font-weight: bolder;
}
code,
kbd,
pre,
samp {
font-family: Sansation, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
font-feature-settings: normal;
font-size: 1em;
font-variation-settings: normal;
}
small {
font-size: 80%;
}
sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}
sub {
bottom: -0.25em;
}
sup {
top: -0.5em;
}
table {
border-collapse: collapse;
border-color: inherit;
text-indent: 0;
}
button,
input,
optgroup,
select,
textarea {
color: inherit;
font-family: inherit;
font-feature-settings: inherit;
font-size: 100%;
font-variation-settings: inherit;
font-weight: inherit;
letter-spacing: inherit;
line-height: inherit;
margin: 0;
padding: 0;
}
button,
select {
text-transform: none;
}
button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
-webkit-appearance: button;
background-color: transparent;
background-image: none;
}
:-moz-focusring {
outline: auto;
}
:-moz-ui-invalid {
box-shadow: none;
}
progress {
vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
height: auto;
}
[type="search"] {
-webkit-appearance: textfield;
outline-offset: -2px;
}
::-webkit-search-decoration {
-webkit-appearance: none;
}
::-webkit-file-upload-button {
-webkit-appearance: button;
font: inherit;
}
summary {
display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
margin: 0;
}
fieldset {
margin: 0;
}
fieldset,
legend {
padding: 0;
}
menu,
ol,
ul {
list-style: none;
margin: 0;
padding: 0;
}
dialog {
padding: 0;
}
textarea {
resize: vertical;
}
input::placeholder,
textarea::placeholder {
color: #9ca3af;
opacity: 1;
}
[role="button"],
button {
cursor: pointer;
}
:disabled {
cursor: default;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
display: block;
vertical-align: middle;
}
img,
video {
height: auto;
max-width: 100%;
}
[hidden]:where(:not([hidden="until-found"])) {
display: none;
}
#BLOG .fixed {
position: fixed !important;
}
#BLOG .absolute {
position: absolute;
}
#BLOG .relative {
position: relative;
}
#BLOG .inset-0 {
inset: 0;
}
#BLOG .bottom-0 {
bottom: 0;
}
#BLOG .bottom-10 {
bottom: 40px;
}
#BLOG .bottom-8 {
bottom: 32px;
}
#BLOG .left-0 {
left: 0;
}
#BLOG .left-1\/2 {
left: 50%;
}
#BLOG .left-3 {
left: 12px;
}
#BLOG .left-4 {
left: 16px;
}
#BLOG .right-0 {
right: 0;
}
#BLOG .right-3 {
right: 12px;
}
#BLOG .right-8 {
right: 32px;
}
#BLOG .top-0 {
top: 0;
}
#BLOG .top-12 {
top: 48px;
}
#BLOG .top-2\.5 {
top: 10px;
}
#BLOG .top-3\.5 {
top: 14px;
}
#BLOG .z-10 {
z-index: 10;
}
#BLOG .z-20 {
z-index: 20;
}
#BLOG .z-50 {
z-index: 50;
}
#BLOG .mx-auto {
margin-left: auto;
margin-right: auto;
}
#BLOG .mb-1 {
margin-bottom: 4px;
}
#BLOG .mb-12 {
margin-bottom: 48px;
}
#BLOG .mb-2 {
margin-bottom: 8px;
}
#BLOG .mb-4 {
margin-bottom: 16px;
}
#BLOG .mb-6 {
margin-bottom: 24px;
}
#BLOG .mb-8 {
margin-bottom: 32px;
}
#BLOG .ml-1 {
margin-left: 4px;
}
#BLOG .ml-2 {
margin-left: 8px;
}
#BLOG .ml-4 {
margin-left: 16px;
}
#BLOG .mr-1 {
margin-right: 4px;
}
#BLOG .mr-2 {
margin-right: 8px;
}
#BLOG .mr-3 {
margin-right: 12px;
}
#BLOG .mr-4 {
margin-right: 16px;
}
#BLOG .mt-12 {
margin-top: 48px;
}
#BLOG .mt-2 {
margin-top: 8px;
}
#BLOG .mt-3 {
margin-top: 12px;
}
#BLOG .mt-4 {
margin-top: 16px;
}
#BLOG .mt-6 {
margin-top: 24px;
}
#BLOG .block {
display: block;
}
#BLOG .inline-block {
display: inline-block;
}
#BLOG .flex {
display: flex;
}
#BLOG .inline-flex {
display: inline-flex;
}
#BLOG .grid {
display: grid;
}
#BLOG .hidden {
display: none;
}
#BLOG .h-10 {
height: 40px;
}
#BLOG .h-12 {
height: 48px;
}
#BLOG .h-14 {
height: 56px;
}
#BLOG .h-48 {
height: 192px;
}
#BLOG .h-64 {
height: 256px;
}
#BLOG .h-\[1\.2em\] {
height: 1.2em;
}
#BLOG .h-\[70vh\] {
height: 80vh;
}
#BLOG .h-full {
height: 100%;
}
#BLOG .max-h-64 {
max-height: 256px;
}
#BLOG .min-h-screen {
min-height: 100vh;
}
#BLOG .w-10 {
width: 40px;
}
#BLOG .w-12 {
width: 48px;
}
#BLOG .w-14 {
width: 56px;
}
#BLOG .w-72 {
width: 288px;
}
#BLOG .w-full {
width: 100%;
}
#BLOG .max-w-2xl {
max-width: 42rem;
}
#BLOG .max-w-4xl {
max-width: 56rem;
}
#BLOG .max-w-7xl {
max-width: 80rem;
}
#BLOG .max-w-lg {
max-width: 32rem;
}
#BLOG .max-w-xl {
max-width: 36rem;
}
#BLOG .flex-grow {
flex-grow: 1;
}
#BLOG .-translate-x-1\/2 {
--tw-translate-x: -50%;
}
#BLOG .-translate-x-1\/2,
#BLOG .transform {
transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}
@keyframes bounce {
0%,
to {
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    transform: translateY(-25%);
}
50% {
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transform: none;
}
}
#BLOG .animate-bounce {
animation: bounce 1s infinite;
}
@keyframes pulse {
50% {
    opacity: 0.5;
}
}
#BLOG .animate-pulse {
animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
#BLOG .cursor-pointer {
cursor: pointer;
}
#BLOG .grid-cols-1 {
grid-template-columns: repeat(1, minmax(0, 1fr));
}
#BLOG .grid-cols-3 {
grid-template-columns: repeat(3, minmax(0, 1fr));
}
#BLOG .flex-row {
flex-direction: row;
}
#BLOG .flex-col {
flex-direction: column;
}
#BLOG .flex-wrap {
flex-wrap: wrap;
}
#BLOG .items-center {
align-items: center;
}
#BLOG .justify-center {
justify-content: center;
}
#BLOG .justify-between {
justify-content: space-between;
}
#BLOG .gap-10 {
gap: 40px;
}
#BLOG .gap-12 {
gap: 48px;
}
#BLOG .gap-2 {
gap: 8px;
}
#BLOG .gap-3 {
gap: 12px;
}
#BLOG .gap-4 {
gap: 16px;
}
#BLOG .gap-8 {
gap: 32px;
}
#BLOG .gap-x-8 {
column-gap: 32px;
}
#BLOG .gap-y-2 {
row-gap: 8px;
}
#BLOG :is(.space-x-3 > :not([hidden]) ~ :not([hidden])) {
--tw-space-x-reverse: 0;
margin-left: calc(12px * (1 - var(--tw-space-x-reverse)));
margin-right: calc(12px * var(--tw-space-x-reverse));
}
#BLOG :is(.space-x-4 > :not([hidden]) ~ :not([hidden])) {
--tw-space-x-reverse: 0;
margin-left: calc(16px * (1 - var(--tw-space-x-reverse)));
margin-right: calc(16px * var(--tw-space-x-reverse));
}
#BLOG :is(.space-x-8 > :not([hidden]) ~ :not([hidden])) {
--tw-space-x-reverse: 0;
margin-left: calc(32px * (1 - var(--tw-space-x-reverse)));
margin-right: calc(32px * var(--tw-space-x-reverse));
}
#BLOG :is(.space-y-4 > :not([hidden]) ~ :not([hidden])) {
--tw-space-y-reverse: 0;
margin-bottom: calc(16px * var(--tw-space-y-reverse));
margin-top: calc(16px * (1 - var(--tw-space-y-reverse)));
}
#BLOG .overflow-hidden {
overflow: hidden;
}
#BLOG .overflow-y-auto {
overflow-y: auto;
}
#BLOG .truncate {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
#BLOG .rounded-full {
border-radius: 9999px;
}
#BLOG .rounded-lg {
border-radius: 24px;
}
#BLOG .rounded-md {
border-radius: 18px;
}
#BLOG .rounded-xl {
border-radius: 36px;
}
#BLOG .border {
border-width: 1px;
}
#BLOG .border-t {
border-top-width: 1px;
}
#BLOG .border-gray-600 {
--tw-border-opacity: 1;
border-color: rgb(75 85 99 / var(--tw-border-opacity, 1));
}
#BLOG .border-gray-700 {
--tw-border-opacity: 1;
border-color: rgb(55 65 81 / var(--tw-border-opacity, 1));
}
#BLOG .border-gray-800 {
--tw-border-opacity: 1;
border-color: rgb(31 41 55 / var(--tw-border-opacity, 1));
}
#BLOG .border-white {
--tw-border-opacity: 1;
border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}
#BLOG .bg-black\/50 {
background-color: rgba(0, 0, 0, 0.5);
}
#BLOG .bg-gray-700 {
--tw-bg-opacity: 1;
background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1));
}
#BLOG .bg-gray-800 {
--tw-bg-opacity: 1;
background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
}
#BLOG .bg-gray-900 {
--tw-bg-opacity: 1;
background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
}
#BLOG .bg-gray-950 {
--tw-bg-opacity: 1;
background-color: rgb(3 7 18 / var(--tw-bg-opacity, 1));
}
#BLOG .bg-primary-500\/20 {
background-color: rgba(115, 65, 255, 0.2);
}
#BLOG .bg-primary-600 {
--tw-bg-opacity: 1;
background-color: rgb(99 27 255 / var(--tw-bg-opacity, 1));
}
#BLOG .bg-transparent {
background-color: transparent;
}
#BLOG .bg-gradient-to-br {
background-image: linear-gradient(
    to bottom right,
    var(--tw-gradient-stops)
);
}
#BLOG .bg-gradient-to-r {
background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
#BLOG .bg-gradient-to-t {
background-image: linear-gradient(to top, var(--tw-gradient-stops));
}
#BLOG .from-black {
--tw-gradient-from: #000 var(--tw-gradient-from-position);
--tw-gradient-to: transparent var(--tw-gradient-to-position);
--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
#BLOG .from-gray-800 {
--tw-gradient-from: #1f2937 var(--tw-gradient-from-position);
--tw-gradient-to: rgba(31, 41, 55, 0) var(--tw-gradient-to-position);
--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
#BLOG .from-gray-900 {
--tw-gradient-from: #111827 var(--tw-gradient-from-position);
--tw-gradient-to: rgba(17, 24, 39, 0) var(--tw-gradient-to-position);
--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
#BLOG .to-gray-900 {
--tw-gradient-to: #111827 var(--tw-gradient-to-position);
}
#BLOG .to-gray-950 {
--tw-gradient-to: #030712 var(--tw-gradient-to-position);
}
#BLOG .to-transparent {
--tw-gradient-to: transparent var(--tw-gradient-to-position);
}
#BLOG .object-cover {
object-fit: cover;
}
#BLOG .p-2 {
padding: 8px;
}

#BLOG .p-round {
padding: 8px;
width: 2.5em;
height: 2.5em;
}

#BLOG .p-4 {
padding: 16px;
}
#BLOG .p-6 {
padding: 24px;
}
#BLOG .p-8 {
padding: 32px;
}
#BLOG .px-3 {
padding-left: 12px;
padding-right: 12px;
}
#BLOG .px-4 {
padding-left: 16px;
padding-right: 16px;
}
#BLOG .px-6 {
padding-left: 24px;
padding-right: 24px;
}
#BLOG .py-1 {
padding-bottom: 4px;
padding-top: 4px;
}
#BLOG .py-12 {
padding-bottom: 48px;
padding-top: 48px;
}
#BLOG .py-2 {
padding-bottom: 8px;
padding-top: 8px;
}
#BLOG .py-20 {
padding-bottom: 80px;
padding-top: 80px;
}
#BLOG .py-3 {
padding-bottom: 12px;
padding-top: 12px;
}
#BLOG .pl-10 {
padding-left: 40px;
}
#BLOG .pl-12 {
padding-left: 48px;
}
#BLOG .pr-4 {
padding-right: 16px;
}
#BLOG .pt-3 {
padding-top: 12px;
}
#BLOG .pt-8 {
padding-top: 32px;
}
#BLOG .text-center {
text-align: center;
}
#BLOG .font-sans {
font-family: Sansation, Open Sans, ui-sans-serif, system-ui, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
#BLOG .text-2xl {
font-size: 24px;
line-height: 31.200000000000003px;
}
#BLOG .text-3xl {
font-size: 30px;
line-height: 36px;
}
#BLOG .text-4xl {
font-size: 36px;
line-height: 41.4px;
}
#BLOG .text-lg {
font-size: 18px;
line-height: 27px;
}
#BLOG .text-sm {
font-size: 14px;
line-height: 21px;
}
#BLOG .text-xl {
font-size: 20px;
line-height: 28px;
}
#BLOG .text-xs {
font-size: 12px;
line-height: 19.200000000000003px;
}
#BLOG .font-bold {
font-weight: 700;
}
#BLOG .font-medium {
font-weight: 500;
}
#BLOG .tracking-tight {
letter-spacing: -0.025em;
}
#BLOG .tracking-wider {
letter-spacing: 0.05em;
}
#BLOG .text-gray-200 {
--tw-text-opacity: 1;
color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}
#BLOG .text-gray-300 {
--tw-text-opacity: 1;
color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}
#BLOG .text-gray-400 {
--tw-text-opacity: 1;
color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}
#BLOG .text-gray-500 {
--tw-text-opacity: 1;
color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}
#BLOG .text-primary-400 {
--tw-text-opacity: 1;
color: rgb(148 120 255 / var(--tw-text-opacity, 1));
}
#BLOG .text-primary-500 {
--tw-text-opacity: 1;
color: rgb(115 65 255 / var(--tw-text-opacity, 1));
}
#BLOG .text-white {
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
#BLOG .opacity-70 {
opacity: 0.7;
}
#BLOG .shadow-lg {
--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
}
#BLOG .shadow-lg,
#BLOG .shadow-xl {
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#BLOG .shadow-xl {
--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
--tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
}
#BLOG .outline-none {
outline: 2px solid transparent;
outline-offset: 2px;
}
#BLOG .transition-all {
transition-duration: 0.15s;
transition-property: all;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#BLOG .transition-colors {
transition-duration: 0.15s;
transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#BLOG .transition-transform {
transition-duration: 0.15s;
transition-property: transform;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#BLOG .duration-200 {
transition-duration: 0.2s;
}
#BLOG .duration-300 {
transition-duration: 0.3s;
}
#BLOG .duration-500 {
transition-duration: 0.5s;
}
#BLOG {
font-family: Open Sans !important;
font-size: 16px !important;
}
#BLOG :is(.bg-primary-600) {
color: hsla(0, 0%, 100%, 0.9) !important;
}
#BLOG .hover\:translate-y-\[-5px\]:hover {
--tw-translate-y: -5px;
}
#BLOG .hover\:rotate-12:hover,
#BLOG .hover\:translate-y-\[-5px\]:hover {
transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}
#BLOG .hover\:rotate-12:hover {
--tw-rotate: 12deg;
}
#BLOG .hover\:scale-105:hover {
--tw-scale-x: 1.05;
--tw-scale-y: 1.05;
}
#BLOG .hover\:scale-105:hover,
#BLOG .hover\:scale-110:hover {
transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}
#BLOG .hover\:scale-110:hover {
--tw-scale-x: 1.1;
--tw-scale-y: 1.1;
}
#BLOG .hover\:scale-\[1\.01\]:hover {
--tw-scale-x: 1.01;
--tw-scale-y: 1.01;
}
#BLOG .hover\:scale-\[1\.01\]:hover,
#BLOG .hover\:scale-\[1\.02\]:hover {
transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}
#BLOG .hover\:scale-\[1\.02\]:hover {
--tw-scale-x: 1.02;
--tw-scale-y: 1.02;
}
#BLOG .hover\:border-primary-400:hover {
--tw-border-opacity: 1;
border-color: rgb(148 120 255 / var(--tw-border-opacity, 1));
}
#BLOG .hover\:bg-\[\#0077b5\]:hover {
--tw-bg-opacity: 1;
background-color: rgb(0 119 181 / var(--tw-bg-opacity, 1));
}
#BLOG .hover\:bg-\[\#0088cc\]:hover {
--tw-bg-opacity: 1;
background-color: rgb(0 136 204 / var(--tw-bg-opacity, 1));
}
#BLOG .hover\:bg-\[\#1DA1F2\]:hover {
--tw-bg-opacity: 1;
background-color: rgb(29 161 242 / var(--tw-bg-opacity, 1));
}
#BLOG .hover\:bg-\[\#25D366\]:hover {
--tw-bg-opacity: 1;
background-color: rgb(37 211 102 / var(--tw-bg-opacity, 1));
}
#BLOG .hover\:bg-\[\#333\]:hover {
--tw-bg-opacity: 1;
background-color: rgb(51 51 51 / var(--tw-bg-opacity, 1));
}
#BLOG .hover\:bg-\[\#5865F2\]:hover {
--tw-bg-opacity: 1;
background-color: rgb(88 101 242 / var(--tw-bg-opacity, 1));
}
#BLOG .hover\:bg-\[\#E1306C\]:hover {
--tw-bg-opacity: 1;
background-color: rgb(225 48 108 / var(--tw-bg-opacity, 1));
}
#BLOG .hover\:bg-\[\#FF0000\]:hover {
--tw-bg-opacity: 1;
background-color: rgb(255 0 0 / var(--tw-bg-opacity, 1));
}
#BLOG .hover\:bg-\[\#FF8800\]:hover {
--tw-bg-opacity: 1;
background-color: rgb(255 136 0 / var(--tw-bg-opacity, 1));
}
#BLOG .hover\:bg-gray-600:hover {
--tw-bg-opacity: 1;
background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1));
}
#BLOG .hover\:bg-gray-700:hover {
--tw-bg-opacity: 1;
background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1));
}
#BLOG .hover\:bg-primary-500:hover {
--tw-bg-opacity: 1;
background-color: rgb(115 65 255 / var(--tw-bg-opacity, 1));
}
#BLOG .hover\:text-primary-300:hover {
--tw-text-opacity: 1;
color: rgb(183 169 255 / var(--tw-text-opacity, 1));
}
#BLOG .hover\:text-primary-400:hover {
--tw-text-opacity: 1;
color: rgb(148 120 255 / var(--tw-text-opacity, 1));
}
#BLOG .hover\:shadow-xl:hover {
--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
--tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#BLOG .focus\:border-transparent:focus {
border-color: transparent;
}
#BLOG .focus\:outline-none:focus {
outline: 2px solid transparent;
outline-offset: 2px;
}
#BLOG .focus\:ring-2:focus {
--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
--tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
#BLOG .focus\:ring-primary-500:focus {
--tw-ring-opacity: 1;
--tw-ring-color: rgb(115 65 255 / var(--tw-ring-opacity, 1));
}
#BLOG :is(.group:hover .group-hover\:scale-110) {
--tw-scale-x: 1.1;
--tw-scale-y: 1.1;
transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}
#BLOG :is(.group:hover .group-hover\:text-white) {
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media screen and (max-height: 600px){
#BLOG .h-\[70vh\] {
    height: 140vh;
}
}

@media screen and (max-height: 400px){
#BLOG .h-\[70vh\] {
    height: 150vh;
}
.retro-text {
    font-family: Tomorrow, Sansation, Open Sans, ui-sans-serif, system-ui, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 500;
    font-size: 1.5rem;
}
}

@media screen and (max-height: 350px){
#BLOG .h-\[70vh\] {
    height: 180vh;
}
.retro-text {
    font-family: Tomorrow, Sansation, Open Sans, ui-sans-serif, system-ui, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 500;
    font-size: 1rem;
}
}

@media (max-width: 480px){
.retro-text {
    font-family: Tomorrow, Sansation, Open Sans, ui-sans-serif, system-ui, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 500;
    font-size: 1rem;
}
#profile-picture{
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
    border-radius: 50%;
}
}

@media (min-width: 768px){
#BLOG .md\:mb-0 {
    margin-bottom: 0;
}
#BLOG .md\:flex {
    display: flex;
}
#BLOG .md\:hidden {
    display: none;
}
#BLOG .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
#BLOG .md\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
#BLOG .md\:flex-row {
    flex-direction: row;
}
#BLOG .md\:px-8 {
    padding-left: 32px;
    padding-right: 32px;
}
#BLOG .md\:text-4xl {
    font-size: 36px;
    line-height: 41.4px;
}
#BLOG .md\:text-6xl {
    font-size: 60px;
    line-height: 66px;
}
#BLOG .md\:text-xl {
    font-size: 20px;
    line-height: 28px;
}
}
@media (min-width: 1024px) {
#BLOG .lg\:h-auto {
    height: auto;
}
#BLOG .lg\:w-1\/2 {
    width: 50%;
}
#BLOG .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
#BLOG .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
#BLOG .lg\:flex-row {
    flex-direction: row;
}
}

@media (min-width: 1920px) {
#profile-picture{
    transform: translateX(-3rem);
}
}

#profile-picture{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.hero-for-profile {
  width: 90%;
  margin: 0 auto;
}

#amp{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.retro-text {
    font-family: Tomorrow, Sansation, Open Sans, ui-sans-serif, system-ui, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 500;
}

.section-text {
    font-family: Space Grotesk, Sansation, Open Sans, ui-sans-serif, system-ui, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#first-section-start{
    margin-top: 60px;
}

#arrow-hero{
    margin-top: 4em;
}

.scroll-to-top {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.scroll-to-top:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}